.header {
    text-align: center;
    margin: 5vh 10vw;
}
#phone {
    border: solid 5px #000000;
    background-color: #888888;
    width: 600px;
    height: 800px;
    margin: auto;
}
#screen {
    border: solid 5px #000000;
    background-color: #77AA00;
    height: 400px;
    margin: 50px;
    position: relative;
    padding: 0 10px;
}
#keypad {
    border: solid 5px #000000;
    margin: 50px;
}
#options {
    margin-top: 30%;
}
#number-submit {
    direction: rtl;
}
.keypad-button {
    padding: 3% 15%;
    width: 100%;
    border: solid 1px #888888;
}
.keypad-button-num {
    text-align: left;
}
